.wrapp {
    width: 100vw;
    height: 100vh;
    background-color: #161D27;
    color: white;
    padding: 20px; 
}

.content_wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(22, 63, 139);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.header {
    margin-bottom: 10px;
    text-align: center; 
}

.thematic {
    margin-bottom: 5px;
    text-align: center;
}

.btn {
    margin-top: 20px;
    width: auto;
    padding: 10px 20px;
    border: none;
    background-color: #11c420;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background-color: #48d143;
}

.desc {
    padding: 20px; 
}

.task {
    margin-top: 15px;
    margin-bottom: 50px;
}