.header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 600;

    background-color: #161D27;
}

.navbar {
    display: flex;
    gap: 20px;
}

.nav_item {
    list-style-type: none;

    padding: 10px;

    border-radius: 10px;
    border: 1px solid #161D27;

    transition: all 0.2s ease-in;
}

.nav_item:hover {
    border: 1px solid gray;
}

.link {
    color: rgb(221, 221, 221);
}